body{
  margin: 0;
  font-family: monospace;
  font-size: 20px;
  background-color: lightgreen;
}
header{
  height: 100vh;
  background-color: rgb(98, 122, 194);
  color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
}
.btn{
  margin : 15px;
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 25px;
  
}
.btn:hover{
  background-color: rgb(53, 13, 184);
  cursor: pointer;
  color: white;
  transition: all 0.3s ease 0s;
  transform: translateY(-10px);
}
header h1{
  color: white;
  text-align: center;
  
}
img {
  height: 250px;
}
section{
  height: 100vh;
  border: 2px solid grey;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:7px;
}
main{
  padding: 25px;
}
h1{
  color :navy;
  font-size: 3rem;
}

.submit{
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 25px; 
}
.submit:hover{
  background-color: rgb(64, 77, 227);
  cursor: pointer;
  color: white;
}
input{
  border-radius: 5px;
  border: solid lightgrey ;
  height: 30px;
}

footer{
  height: 150px;
  background-color: black;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top{
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 25px;
  position: fixed;
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
}
.top:hover{
  background-color: rgb(64, 77, 227);
  cursor: pointer;
  color: white;
}